{% extends 'dashboard/base.html' %}
{% load static %}

{% include 'dashboard/base_components/topnav.html' %}

{% block content %}
    <!-- About Section -->
    <section id="about" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How to use EULA Thingy</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>To help our artificial intelligence agent learn, all you need to do is pick the importance of each word in the sentence below:</p>
                    <ul style="margin-top: 20px;margin-bottom: 20px;">
                        <li><span class="label label-warning">Green</span> - Essential</li>
                        <li><span class="label label-info">Blue</span> - Be aware of</li>
                        <li><span class="label label-default">Gray</span> - Not worth remembering</li>
                    </ul>
                    <p>The quotes above and below the text are to help with the clause context. When you are done, click the submit button!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Example Section -->
    <section id="Examples" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-lowercase">
                    <h2>itunes</h2>
                    <h4>LICENSED APPLICATION END USER LICENSE AGREEMENT</h4>
                    <h4>Section G</h4>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="bs-component">
                        <blockquote>
                            <p class="text-justify">{{ context_string1 }}</p>
                        </blockquote>
                    </div>


                    <div class="add-space text-justify larger-font">
                        {{ primary_string }}
                    </div>
                        {% csrf_token %}
                        <form action="/app/" method="post">
                            <select class="form-control" name="" id="" style="width: 250px;">
                                <option value="0">Useless</option>
                                <option value="1">Worth reading</option>
                                <option value="2">Essential</option>
                            </select>
                            <button class="btn btn-outline app-btn" type="button">Submit</button>
                        </form>

                    <div class="bs-component" style="margin-top: 25px;">
                        <blockquote>
                            <p class="text-justify">{{ context_string2 }}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% include 'dashboard/base_components/footer.html' %}