{% extends 'dashboard/base.html' %}
{% load static %}

{% include 'dashboard/base_components/topnav.html' %}

{% block content %}
    <!-- Example Section -->
    <section id="Examples" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-lowercase">
                    <h2>{{ title }}</h2>
                    <h4>{{ category }}</h4>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="text-justify">
                        <p class="text-info larger-font">
                            {{ primary_string }}
                        </p>
                    </div>

                    <div class="col-lg-4">
                        {% csrf_token %}
                        <form action="/dashboard/app/{{ string_id }}" method="post">
                            <button class="btn btn-success app-btn" type="submit" name="critical">Critical</button>
                         </form>
                    </div>

                    <div class="col-lg-4">
                        {% csrf_token %}
                        <form action="/dashboard/app/{{ string_id }}" method="post">
                            <button class="btn btn-warning app-btn" type="submit" name="noteworthy">Noteworthy</button>
                        </form>
                    </div>

                    <div class="col-lg-4">
                        {% csrf_token %}
                        <form action="/dashboard/app/{{ string_id }}" method="post">
                            <button class="btn btn-info app-btn" type="submit" name="useless">Useless</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

{% include 'dashboard/base_components/footer.html' %}
