{% extends 'dashboard/base.html' %}
{% load static %}

{% include 'dashboard/base_components/topnav.html' %}

{% block content %}


    <!-- Example Section -->
    <section id="Examples" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-lowercase">
                    <h2>{{ title }}</h2>
                    <h4>{{ category }}</h4>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="add-space text-justify larger-font">
                        <p class="text-info">
                            {{ primary_string }}
                        </p>
                    </div>
                    {% csrf_token %}
                    <form action="/app/{{ string_id }}" method="post">
                        <button class="btn btn-info app-btn" type="button">Essential</button>
                        <button class="btn btn-info app-btn" type="button">Noteworthy</button>
                        <button class="btn btn-info app-btn" type="button">Useless</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% include 'dashboard/base_components/footer.html' %}