{% extends 'dashboard/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    {% include 'dashboard/base_components/mr_man.html' %}

        <!-- Example Section -->
    <section id="Examples">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>WHAT'S GOING ON?!?</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <p class="text-justify">TP;NS was founded in 2014 for the world's first virtual hackthon hosted by Koding.com. EULA Thingy is a Django-based web application which combines the two powerful elements of crowdsourced information and machine learning. We hope this will provide the online community with a way to quickly summarize legal resources.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/dashboard/app/" class="btn btn-lg btn-outline">
                        <i class="fa fa-child"></i> Check it out!
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who are these brave programmers?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="text-center">
                        <h2>Liam</h2>
                        <h4>"lolletsoc"</h4>
                        <h2>Costello</h2>
                    </div>
                    <img src="{% static 'img/liam.jpg' %}" class="img-circle bio-pics">
                    <p class="text-justify">A wizard class Python engineer. Hailing from the philosopher swamped Acopolis of Athens, Greece. Liam is known for occasionally brewing up lean artificial intelligence agents which have a better understanding of grammar than the average Call of Duty player.</p>
                </div>
                <div class="col-lg-4">
                    <div class="text-center">
                        <h2>Noah</h2>
                        <h4>"DigitalMockingbird"</h4>
                        <h2>Edelman</h2>
                    </div>
                    <img src="{% static 'img/noah.jpg' %}" class="img-circle bio-pics"/>
                    <p class="text-justify">A user experience seer and energetic Python developer. Hailing from the rich programmer ecosystem of Silicon Valley, California. Noah is always looking application analytics and constantly tweaking programs for maximum impact.</p>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
