{% extends 'dashboard/base.html' %}
{% load static %}

{% include 'dashboard/base_components/topnav.html' %}

{% block content %}

        <!-- Example Section -->
    <section id="Examples" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Results</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10">
                    <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                <tbody>
                  {% for string in strings %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/dashboard/read/{{ doc.id }}">{{ doc.title }}</a></td>
                        <td>{{ doc.get_category_display }}</td>
                        <td>{{ doc.rating }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% include 'dashboard/base_components/footer.html' %}