{% load static %}

{% block footer %}

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Central Command Headquarters</h3>
                        <p>Athens, Greece</p>
                        <p>Menlo Park, California</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Check out the repo!</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/DigitalMockingbird/EULAThingy" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github-alt"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About TP;NS</h3>
                        <p>We like making awesome apps, having epic feasts, and low pings.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; TP;NS 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}