    <div class="div-holder-custom">
        <a class="btn btn-default word-button">You</a>
        <a class="btn btn-default word-button">also</a>
        <a class="btn btn-default word-button">agree</a>
        <a class="btn btn-default word-button">that</a>
        <a class="btn btn-default word-button">you</a>
        <a class="btn btn-default word-button">will</a>
        <a class="btn btn-default word-button">not</a>
        <a class="btn btn-default word-button">use</a>
    </div>

    <div class="div-holder-custom">
        <a class="btn btn-default word-button">these</a>
        <a class="btn btn-default word-button">products</a>
        <a class="btn btn-default word-button">for</a>
        <a class="btn btn-default word-button">any</a>
        <a class="btn btn-default word-button">purposes</a>
        <a class="btn btn-default word-button">prohibited</a>
        <a class="btn btn-default word-button">by</a>
    </div>

    <div class="div-holder-custom">
        <a class="btn btn-default word-button">United</a>
        <a class="btn btn-default word-button">States</a>
        <a class="btn btn-default word-button">law</a>
        <a class="btn btn-default word-button">including</a>
        <a class="btn btn-default word-button">without</a>
        <a class="btn btn-default word-button">limitation</a>
        <a class="btn btn-default word-button">the</a>
    </div>

    <div class="div-holder-custom">
        <a class="btn btn-default word-button">development</a>
        <a class="btn btn-default word-button">design</a>
        <a class="btn btn-default word-button">manufacture</a>
        <a class="btn btn-default word-button">or</a>
        <a class="btn btn-default word-button">production</a>
        <a class="btn btn-default word-button">of</a>
        <a class="btn btn-default word-button">nuclear</a>
    </div>

    <div class="div-holder-custom">
        <a class="btn btn-default word-button">missiles</a>
        <a class="btn btn-default word-button">or</a>
        <a class="btn btn-default word-button">chemical</a>
        <a class="btn btn-default word-button">or</a>
        <a class="btn btn-default word-button">biological</a>
        <a class="btn btn-default word-button">weapons</a>
    </div>